<ul>
    <li>
        {% for product in products|slice(0, 3) %}
            {{ product }}
        {% endfor %}
    </li>
    <li>
        {% for product in products|slice(3, 3) %}
            {{ product }}
        {% endfor %}
    </li>
</ul>
    {{ dump(products)}}